<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="20000"/>
    <add key="ConnectionString" value="Server=tcp:uploadtoserver.database.windows.net,1433;Initial Catalog=UploadFileDB;Persist Security Info=False;User ID=uploadtoserveradmin;Password=Password123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=90;" />
    <add key="ImageRootPath" value="https://uploadmediatoserverstore.blob.core.windows.net/images" />
    <add key="ImagesContainer" value="images" />
    <add key="BlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=uploadmediatoserverstore;AccountKey=F2rmquz19Rm5fzWLWSuEOgfu+UPvjoWxMdPlsuWhL6+MVfpaSv5TxlRukV/uIMZGkS8Wuw7IljhtMoQ6J6ozqw==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>